:root {
    --cyan: #4BCAFF;
    --blue: #3181A6;
    --lg-grey: #DBDBDB;
    --grey: #35444F;
    --dark-grey: #222F3A;
}

* {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 63px;
    padding-bottom: 48px;
    min-height: 189px;
}

.logo {
    padding-bottom: 40px;
    font-size: 80px;
    color: #000;
}

.cyan {
    color: var(--cyan);
}

.nav {
    margin: 0 auto;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    background-color: var(--grey);
}

.nav-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #fff;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    transition: background-color 0.5s ease;
}

.nav-link-last {
    border-right: 1px solid #fff;
}

.nav-link:hover {
    background-color: var(--dark-grey);
}

.main-grid {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 344px 885px;
    gap: 52px;
}

.nav-aside {
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px #495863 solid;
}

.nav-aside-link {
    padding-left: 42px;
    width: 100%;
    height: 79px;
    display: flex;
    align-items: center;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    transition: background-color, padding-left 0.5s ease;
}

.nav-aside-link:hover {
    padding-left: 72px;
    background-color: var(--lg-grey);
    color:#000;
}

.img-sheep {
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    transition: transform 0.25s;
}

.img-sheep:hover img{
    transform: scale(1.1);
}

.text {
    padding-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    padding: 0 40px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lg-grey);
}

.nav-footer {
    width: 875px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-footer-link {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 28px;
    transition: color .3s ease;
}

.nav-footer-link::after {
    display: none;
    content: "";
    position: absolute;
    background-color: var(--blue);
    height: 1px;
    width: 100%;
    bottom: -13px;
}

.nav-footer-link:hover {
    color: var(--blue);
}

.nav-footer-link:hover::after {
    display: block;
}

.rights {
    margin-left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
